body {
    background-color: black;
    overflow: visible;
    user-select: none;
    font-family:  Calibri;
}

#Time {
    color: white;
    text-align: right;
    font-size: 30px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

#Universe-reset {
    width: 300px;
    height: 60px;
    color: rgb(228, 176, 5);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 10px;
    text-align: center;
    top: 20;
    left: 20;
    background-color: rgb(98, 1, 98);
    box-shadow: 0px 0px 10px 5px rgb(161, 3, 218);
    visibility: collapse;
}

#Universe-reset:hover {
    background-color: rgb(121, 1, 121);
    cursor: pointer;
    animation: uni-reset 2s 0.3s;
    animation-fill-mode: forwards;
}

@keyframes uni-reset {
    from{}
    to{
        box-shadow: 0px 0px 15px 10px rgb(161, 3, 218);
    }
}

.tabs {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#Main-tab {
    width: auto;
    background-color: red;
    font-size: 25px;
    padding: 0 10px;
    margin: 0 10px;
    color: white;
}

#Main-tab:hover {
    background-color: rgb(219, 1, 1);
    cursor: pointer;
    border: 3px solid yellow;
}

#Universe-tab {
    width: auto;
    background-color: rgb(86, 10, 157);
    font-size: 25px;
    padding: 0 10px;
    margin: 0 10px;
    color: rgb(228, 176, 5);
    box-shadow: 0px 0px 10px 5px rgb(191, 0, 255);
    visibility: collapse;
}

#Universe-tab:hover {
    background-color: rgb(144, 1, 144);
    cursor: pointer;
    border: 3px solid yellow;
}

#Upgrades-tab {
    width: auto;
    background-color: yellow;
    font-size: 25px;
    padding: 0 10px;
    margin: 0 10px;
    color: black;
    visibility: collapse;
}

#Upgrades-tab:hover {
    background-color: rgb(205, 205, 0);
    cursor: pointer;
    border: 3px solid rgb(0, 30, 255);
}

#Options-tab {
    width: auto;
    background-color: grey;
    font-size: 25px;
    padding: 0 10px;
    color: white;
}

#Options-tab:hover {
    background-color: rgb(91, 91, 91);
    cursor: pointer;
    border: 3px solid yellow;
}

.content {
    display: none;
    width: 100%;
}

.content.active {
    display: block;
}

#Booster {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#booster-img {
    width: 100px;
    height: 30px;
    font-size: 35px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15;
}

#booster-mult {
    position: absolute;
    left: 200;
    font-size: 25px;
}

#booster-cost {
    position: absolute;
    right: 15;
    font-size: 20px;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}

#Time-generator {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

#tg-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(0, 55, 255);
    position: absolute;
    left: 15;
}

#ta-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(0, 213, 255);
    position: absolute;
    left: 15;
}

#tj-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(0, 255, 0);
    position: absolute;
    left: 15;
}

#ts-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(208, 255, 0);
    position: absolute;
    left: 15;
}

#tc-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(255, 162, 0);
    position: absolute;
    left: 15;
}

#tp-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(255, 0, 4);
    position: absolute;
    left: 15;
}

#tl-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(255, 0, 162);
    position: absolute;
    left: 15;
}

#td-img {
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(200, 0, 255);
    position: absolute;
    left: 15;
}

#comma {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 58px;
    margin-bottom: 21px;
}

#comma3 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 53px;
    margin-bottom: 21px;
}

#comma4 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 21px;
}

#comma5 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 48px;
    margin-bottom: 21px;
}

#comma6 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 45px;
    margin-bottom: 21px;
}

#comma7 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 42px;
    margin-bottom: 21px;
}

#comma8 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 39px;
    margin-bottom: 21px;
}

#t2 {
    margin-right: 16px;
}

#t3 {
    margin-right: 25px;
}

#t4 {
    margin-right: 37px;
}

#t5 {
    margin-right: 48px;
}

#t6 {
    margin-right: 59px;
}

#t7 {
    margin-right: 70px;
}

#t8 {
    margin-right: 81px;
}

#tg-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    font-style: italic;
}

#tg-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(0, 64, 255);
}

#tg-amt {
    position: absolute;
    right: 450;
    color: rgb(0, 64, 255);
}

#tg-bought {
    position: absolute;
    right: 350;
    color: rgb(0, 64, 255);
}

#tg-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(0, 64, 255);
    border: 4px solid rgb(0, 64, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-accelerator {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#ta-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#ta-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(0, 213, 255);
}

#ta-amt {
    position: absolute;
    right: 450;
    color: rgb(0, 213, 255);
}

#ta-bought {
    position: absolute;
    right: 350;
    color: rgb(0, 213, 255);
}

#ta-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(0, 213, 255);
    border: 4px solid rgb(0, 213, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-jolter {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tj-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#tj-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(0, 255, 0);
}

#tj-amt {
    position: absolute;
    right: 450;
    color: rgb(0, 255, 0);
}

#tj-bought {
    position: absolute;
    right: 350;
    color: rgb(0, 255, 0);
}

#tj-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(0, 255, 0);
    border: 4px solid rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-snapper {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#ts-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#ts-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(208, 255, 0);
}

#ts-amt {
    position: absolute;
    right: 450;
    color: rgb(208, 255, 0);
}

#ts-bought {
    position: absolute;
    right: 350;
    color: rgb(208, 255, 0);
}

#ts-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(208, 255, 0);
    border: 4px solid rgb(208, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-cracker {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tc-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#tc-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(255, 162, 0);
}

#tc-amt {
    position: absolute;
    right: 450;
    color: rgb(255, 162, 0);
}

#tc-bought {
    position: absolute;
    right: 350;
    color: rgb(255, 162, 0);
}

#tc-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(255, 162, 0);
    border: 4px solid rgb(255, 162, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-popper {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tp-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#tp-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(255, 0, 4);
}

#tp-amt {
    position: absolute;
    right: 450;
    color: rgb(255, 0, 4);
}

#tp-bought {
    position: absolute;
    right: 350;
    color: rgb(255, 0, 4);
}

#tp-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(255, 0, 4);
    border: 4px solid rgb(255, 0, 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-locker {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tl-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#tl-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(255, 0, 162);
}

#tl-amt {
    position: absolute;
    right: 450;
    color: rgb(255, 0, 162);
}

#tl-bought {
    position: absolute;
    right: 350;
    color: rgb(255, 0, 162);
}

#tl-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(255, 0, 162);
    border: 4px solid rgb(255, 0, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Time-dropper {
    margin-top: -10px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#td-name {
    position: absolute;
    left: 200;
    font-size: 25px;
    color: white;
    font-style: italic;
}

#td-mult {
    position: absolute;
    left: 550;
    font-size: 20px;
    color: rgb(200, 0, 255);
}

#td-amt {
    position: absolute;
    right: 450;
    color: rgb(200, 0, 255);
}

#td-bought {
    position: absolute;
    right: 350;
    color: rgb(200, 0, 255);
}

#td-cost {
    position: absolute;
    height: 30px;
    right: 15;
    width: 250px;
    color: rgb(200, 0, 255);
    border: 4px solid rgb(200, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Uni-count {
    width: calc(100% - 5px);
    height: 40px;
    margin-left: 5px;
    background-color: rgb(144, 1, 144);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: rgb(228, 176, 5);
    box-shadow: 0px 0px 10px 5px rgb(200, 0, 255);
}

#Uni-boost {
    width: calc(100% - 5px);
    height: 70px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: rgb(144, 1, 144);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 23px;
    color: rgb(228, 176, 5);
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgb(200, 0, 255);
}

#Universal-power {
    margin: 5px;
}

#Uni-exponent {
    margin: 5px;
}

#Uni-mult {
    margin: 5px;
}

#Power-Generator,
#Power-Accelerator,
#Power-Jolter,
#Power-Snapper,
#Power-Cracker,
#Power-Popper,
#Power-Locker,
#Power-Dropper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#pg-img {
    margin-top: 10px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(208, 0, 255);
    position: absolute;
    left: 10;
    color: white;
}

#pa-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(129, 0, 158);
    position: absolute;
    left: 10;
    color: white;
}

#pj-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(93, 1, 113);
    position: absolute;
    left: 10;
    color: white;
}

#ps-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(62, 0, 76);
    position: absolute;
    left: 10;
    color: white;
}

#pc-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(76, 0, 70);
    position: absolute;
    left: 10;
    color: white;
}

#pp-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(76, 0, 54);
    position: absolute;
    left: 10;
    color: white;
}

#pl-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(76, 0, 14);
    position: absolute;
    left: 10;
    color: white;
}

#pd-img {
    margin-top: 5px;
    height: 30px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 15px;
    width: 150px;
    background-color: rgb(76, 13, 0);
    position: absolute;
    left: 10;
    color: white;
}

#dot {
    position: absolute;
    top: -25;
    left: 70;
    display: flex;
    justify-content: center;
}

#dot2 {
    position: absolute;
    top: -25;
    left: 66;
    display: flex;
    justify-content: center;
}

#dot3 {
    position: absolute;
    top: -25;
    left: 62;
    display: flex;
    justify-content: center;
}

#dot4 {
    position: absolute;
    top: -25;
    left: 58;
    display: flex;
    justify-content: center;
}

#dot5 {
    position: absolute;
    top: -25;
    left: 54;
    display: flex;
    justify-content: center;
}

#dot6 {
    position: absolute;
    top: -25;
    left: 50;
    display: flex;
    justify-content: center;
}

#dot7 {
    position: absolute;
    top: -25;
    left: 46;
    display: flex;
    justify-content: center;
}

#dot8 {
    position: absolute;
    top: -25;
    left: 42;
    display: flex;
    justify-content: center;
}

#pg-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pg-mult {
    position: absolute;
    left: 450;
    color: rgb(208, 0, 255);
}

#pg-amt {
    position: absolute;
    right: 400;
    color: rgb(208, 0, 255);
}

#pg-bought {
    position: absolute;
    right: 300;
    color: rgb(208, 0, 255);
}

#pg-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(208, 0, 255);
    color: rgb(208, 0, 255);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pa-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pa-mult {
    position: absolute;
    left: 450;
    color: rgb(129, 0, 158);
}

#pa-amt {
    position: absolute;
    right: 400;
    color: rgb(129, 0, 158);
}

#pa-bought {
    position: absolute;
    right: 300;
    color: rgb(129, 0, 158);
}

#pa-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(129, 0, 158);
    color: rgb(129, 0, 158);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pj-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pj-mult {
    position: absolute;
    left: 450;
    color: rgb(93, 1, 113);
}

#pj-amt {
    position: absolute;
    right: 400;
    color: rgb(93, 1, 113);
}

#pj-bought {
    position: absolute;
    right: 300;
    color: rgb(93, 1, 113);
}

#pj-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(93, 1, 113);
    color: rgb(93, 1, 113);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ps-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#ps-mult {
    position: absolute;
    left: 450;
    color: rgb(62, 0, 76);
}

#ps-amt {
    position: absolute;
    right: 400;
    color: rgb(62, 0, 76);
}

#ps-bought {
    position: absolute;
    right: 300;
    color: rgb(62, 0, 76);
}

#ps-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(62, 0, 76);
    color: rgb(62, 0, 76);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pc-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pc-mult {
    position: absolute;
    left: 450;
    color: rgb(76, 0, 70);
}

#pc-amt {
    position: absolute;
    right: 400;
    color: rgb(76, 0, 70);
}

#pc-bought {
    position: absolute;
    right: 300;
    color: rgb(76, 0, 70);
}

#pc-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(76, 0, 70);
    color: rgb(76, 0, 70);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pp-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pp-mult {
    position: absolute;
    left: 450;
    color: rgb(76, 0, 54);
}

#pp-amt {
    position: absolute;
    right: 400;
    color: rgb(76, 0, 54);
}

#pp-bought {
    position: absolute;
    right: 300;
    color: rgb(76, 0, 54);
}

#pp-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(76, 0, 54);
    color: rgb(76, 0, 54);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pl-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pl-mult {
    position: absolute;
    left: 450;
    color: rgb(76, 0, 14);
}

#pl-amt {
    position: absolute;
    right: 400;
    color: rgb(76, 0, 14);
}

#pl-bought {
    position: absolute;
    right: 300;
    color: rgb(76, 0, 14);
}

#pl-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(76, 0, 14);
    color: rgb(76, 0, 14);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pd-name {
    position: absolute;
    left: 180;
    color: white;
    font-style: italic;
    font-size: 25px;
}

#pd-mult {
    position: absolute;
    left: 450;
    color: rgb(76, 13, 0);
}

#pd-amt {
    position: absolute;
    right: 400;
    color: rgb(76, 13, 0);
}

#pd-bought {
    position: absolute;
    right: 300;
    color: rgb(76, 13, 0);
}

#pd-cost {
    position: absolute;
    right: 10;
    border: 3px solid rgb(76, 13, 0);
    color: rgb(76, 13, 0);
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Settings-content {
    max-width: max-content;
    margin-inline: auto;
}

#sub-sc {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#Import {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    border-radius: 15px;
}

#Export {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    border-radius: 15px;
}

#Save {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    border-radius: 15px;
}

#Hard-reset {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 0, 0);
    font-style: italic;
    font-weight: bolder;
    border-radius: 15px;
}

#Time-units {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    border-radius: 15px;
}

#Offline-progress {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
}

#PoNBN {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
}

#Notation {
    width: 200px;
    height: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);
    font-style: italic;
    font-weight: bolder;
    border-radius: 15px;
}